.footItem {
  font-size: small;
  margin: 0.75rem;
}

.footItem:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0c8ed3;
}

.footLogo {
  height: 22px;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
