.search_searchinput {
  position: relative;
}
.search_inputag {
  border: none;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  outline: 0;
  height: 50px;
}

.search_iconinside {
  position: absolute;
  right: 30px;
  top: 12px;
  cursor: pointer;
}

.space {
  margin-top: 150px;
}

.select-tag {
  height: 50px;
  width: 100%;
  cursor: pointer;
  padding-left: 10px;
}
