.card-container {
  padding-bottom: 30px;
}

.carosal {
  height: 400px;
  background-color: lightgray;
  margin-bottom: 7px;
  align-items: center;
}
.carosal-image {
  height: 400px;
  object-fit: contain;
  width: 100%;
}
.post-card-subtitle {
  margin-left: 7px;
}

.postCard-btn {
  align-items: center;
  border: none;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  min-width: 6.4rem;
  max-width: 480px;
  overflow: hidden;
  text-align: center;
}
.postCard-cmntimage {
  border-radius: 50%;
}
.postCard-cmnt {
  border-radius: 50px;
  border: 1px solid gray;
  outline: 0;
  padding-right: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
}
.postCard-relative {
  position: relative;
}

.postCard-absolute {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
}

.comments-container {
  max-height: 250px;
  overflow: auto;
}

.comments-container::-webkit-scrollbar {
  width: 5px;
}

.comments-container::-webkit-scrollbar-thumb {
  background-color: #0c8ed3;
  border-radius: 100px;
}

.comments-container::-webkit-scrollbar-track {
  background-color: rgb(201, 199, 199);
  border-radius: 100px;
}
