.allmessages-container {
  min-height: 65vh;
  height: 550px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.allmessages-container2 {
  min-height: 65vh;
  height: 550px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-input-field {
  height: 40px;
  padding-left: 10px;
  padding-right: 40px;
}
.message-send-icon {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}
.receiver-msg {
  position: relative;
  background: #0c8ed3;
  padding: 10px;
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  color: white;
  width: fit-content;
  margin: 10px;
}
.receiver-msg:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent #0c8ed3 transparent transparent;
  left: -20px;
  top: 10px;
}

.sender-msg {
  position: relative;
  background: #0c8ed3;
  padding: 10px;
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  color: white;
  width: fit-content;
  margin: 10px;
}

.sender-msg:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent transparent transparent #0c8ed3;
  right: -20px;
  top: 13px;
}
